  p
  {
  color:#001f3f;
  border: 1.5px double #0074D9;
  background-color:#DDDDDD;
  font-size:150%;
  padding: 5px;
  }
  h1
  {
    font-size: 300%;
    color: #85144b;
    line-height:auto;
  }
  h2
  {
    color: #0074D9;
    border-bottom: 3px solid #111111;
  }
  h3
  {
    font-size: 200%;
    color: #3D9970;
    border-bottom: 3px solid #111111;
  }
  
  div
  {
    transform: skewY(5.5deg);
  }
  .right
  {
    position: relative; width: 30%; text-align: right;
  }
  .center
  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  .thh
  {
    text-align:left;
    color: white;
    background-color: royalblue;
  }
  .Tdd
  {
    text-align:left;
    color: white;
    background-color: royalblue;
  }
  .resize
  { 
  width: 10%;
  padding: 20px; 
  resize: both;
  overflow: auto;
  }
  p.a {
    visibility: visible;
  }
  
  image {
    visibility: hidden;
  }

    